<div class="home-intro">
        <div class="home-title"> 青红椒 </div>
        <div class="home-sub-title" style="padding: 0px;"> Hello Friend!  </div>

        <div class="home-content">
                Home Page 欢迎页面
        </div>
        <div class="home-content no-padding">
                WeChat;QingHongJiao.</div>
<!-- posts -->
<!-- posts -->

<div class="home-contact ">
        <div class="home-sub-title"> Collaborate / Connect </div>
        <div class="home-content no-padding">
                
                HelloWorkDev@Gmail.Com
        </div>
</div>
