<div class="home-intro">
        <div class="home-title"> WangM.ing </div>
        <div class="home-sub-title" style="padding: 0px;"> Hello Friend!  </div>

        <div class="home-content">
                网名
        </div>
        <div class="home-content no-padding">
                寻求合作，网名，内容，个性网名</div>
<!-- posts -->
        <p>个性网名，情侣网名，微信网名，QQ网名......</p>
<!-- posts -->

<div class="home-contact ">
        <div class="home-sub-title"> 寻求合作</div>
        <div class="home-content no-padding">
                
                ......寻求好的建议！建站策划中...... 
        </div>
</div>
